@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}


legend {
  font-family: 'Lobster', cursive;
}



h4 a, h4 a:hover {
  color: #c1e782;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #0be40f;
}

h1 small {
  color: #f5a506;
}

p {
  margin-bottom: 0.65rem;
}

a {
  color: rgba(255, 255, 255, 0.8)
}

a:hover {
  color:#fff
}

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #ffffff;
  background-color:#108a93;
}